.full-width-field {
   width: 90%;
}
.full-width-field {
   width: 90%;
}
.afull-width-field {
   width: 20%;
   margin-right:  40px;
}
.bfull-width-field {
  margin-right:  40px;
   width: 20%;
}
.cfull-width-field {
  margin-right:  40px;
   width: 20%;
}
.dfull-width-field {
   width: 20%;
}
.resetbtn{
  
   width: 10%;
   margin: 1%;
}